*/.build*/*
*/bin/*
*.o
*.xe
*.vcd
*.s
*.xi
*.i
*.a
app_example_biquad/MakeCoeffs$F.class
app_example_biquad/MakeCoeffs.class
app_example_fir/MakeFIR.class
doc/Doxyfile-e
doc/.doxygen
doc/.sources
doc/.linked_dirs
doc/index.pdf
doc/_build/
doc/index.aux
doc/index.idx
doc/index.log
doc/index.out
doc/index.tex
doc/index.toc
