*/.build*/*
*/bin/*
*.o
*.xe
*.vcd
*.s
*.xi
*.i
*.a
app_example_biquad/MakeCoeffs$F.class
app_example_biquad/MakeCoeffs.class
app_example_fir/MakeFIR.class
doc/Doxyfile-e
doc/.doxygen
doc/.sources
doc/index.pdf
doc/_build/
